services:
  postgres:
    image: postgres:16
    container_name: room-booking-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: room_booking
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: room-booking-adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data:
